body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/***********************************************/
/*        CSS for Home Page Starts here        */
/*              By Kiran Joshi                 */
/*              use prefix hp-*                */
/***********************************************/
.hp-container{
	background-color:#eeeeee;
	padding-bottom:6em;
	.hp-heroImg{
		padding:0;
		img{
			width:100%;
			background-size:cover;
			// margin-left:-1em;
		}
	}
	.hp-showcase{
		padding-top:8em;
		display: flex;
  		justify-content: space-around;
  		.hp-flexCard{
  			margin:0;
  			padding:0;
  			display:flex;
  			justify-content:space-around;
  			.hp-card{
	  			padding:0;
				background-color:white;
				a{
					text-decoration:none;
				}
				img{
					width:100%;
					height:242px;
				}
				h2{
					color:black;
				}
				h3{
					padding-right:0.5em;
					padding-left:0.5em;
					color:#434343;
					font-size:1.5em;
				}
				p{
					padding:1em 2em;
					color:#0000EE;
					margin-top:3em;
				}	
			}
  		}
		@media screen and (max-width:550px) and (min-width:320px){
			padding-top:4em;
			display:block;
			.hp-flexCard{
				display:block;
				.hp-card{
					margin-bottom:3em;
					img{
						height:100%;
					}
					h2{
						margin-top:10px;
						font-size:1.6em;
					}
					h3{
						font-size:1.2em;
					}
					p{
						font-size:1em;
						margin-top:0;
					}
				}
			}	
		}	
		@media screen and (max-width:899px) and (min-width:551px){
			padding-top:5em;
			.hp-flexCard{
				.hp-card{	
					img{
						height:150px;
					}
					h3{
						font-size:1em;
					}
					p{
						margin-top:1em;
					}
				}
			}	
		}	
		@media screen and (max-width:1200px) and (min-width:900px){
			.hp-flexCard{
				.hp-card{
					img{
						height:190px;
					}
					h3{
						font-size:1.4em;
					}
					p{
						margin-top:2em;
					}
				}
			}	
		}	
	}
	.hp-socialIcon{
		margin-top:5em;
		@media screen and (max-width:550px) and (min-width:320px){
			margin-top:3em;
		}
		.hp-flexIcons{
			display:flex;
			justify-content:space-between;
			.hp-area{
			 	width:120px;
			 	height:120px;
			 	border-radius:100%;
			 	background-color:white;
			 	margin-left:0;
			 	img{
			 		width:70px;
			 		height:70px;
			 		margin:1.8em 0.8em;
			 	}
			 	@media screen and (max-width:550px) and (min-width:320px){
			 		width:80px;
			 		height:80px;
			 		img{
			 			width:32px;
			 			height:32px;
			 		}	
			 	}
			 	@media screen and (max-width:899px) and (min-width:551px){
			 		width:100px;
			 		height:100px;
			 		img{
			 			width:50px;
			 			height:50px;
			 		}	
			 	}	
			}
		}	
	}
	.hp-contactForm{
		margin-top:5em;
		.hp-formArea{
			background-color:#1B5F5E;
			color:white;
			padding:3em 0;
			.hp-para{
				color:white;
				letter-spacing:0px;
				h3{			
					line-height:1.3;
				}
				@media screen and (max-width:550px) and (min-width:320px){
		 			h3{		
		 				font-size:17px;	
						line-height:1.3;
					}
		 		}
				@media screen and (max-width:899px) and (min-width:551px){
		 			h3{		
		 				font-size:18px;	
						line-height:1.3;
					}
		 		}
			}
			.hp-inputs{
				margin-top:1.3em;
				padding-bottom:1em;
				input[type=text]{
					margin-bottom:2em;
				}
				input[type=email]{
					margin-bottom:2em;
				}
				.submitBtn{
					width:20%;
					color:#1B5F5E;
					@media screen and (max-width:550px) and (min-width:320px){
		 				width:42%;
		 			}
					@media screen and (max-width:899px) and (min-width:551px){
		 				width:38%;
		 			}
					@media screen and (max-width:1200px) and (min-width:900px){
						width:30%;
					}
				}
			}
		}
	}
}

/**********************************************/
/**********************************************/

/***********************************************/
/*       CSS for About Page Starts here        */
/*              By Kiran Joshi                 */
/*            use prefix about-*               */
/***********************************************/
.about-container{
	background-color:#F3F3F3;
	.container-fluid{
		.about-heroImg{
			background-image: url('/images/aboutPage/Heroimage_About.png');
			min-height:680px;
			background-repeat:no-repeat;
	        background-attachment: fixed;
	        background-size: 100% 100%;
			object-fit:cover;
			h1{
				font-family: 'Lato', sans-serif;
				color:white;
				padding:3em 0 0 3em;
				margin-top:0;
				font-size:4em;
			}
			h2{
				font-family: 'Lato', sans-serif;
				color:white;
				padding:0 0 0 4em;
				margin-top:0;
				font-size:3em;
			}
			.about-icons{
				display:flex;
				justify-content:space-between;
				margin-top:16em;
				height:118px;
				border:2px solid white;
				border-radius:100%;
				justify-content:space-around;
				margin-right:1em;
				img{
					width:80px;
				}
				i{
					color:white;
					padding:0.5em;
				}
				&:active,&:visited,&:hover{
					background-color:#1B5F5E;
					border:2px solid white;
					i{
						color:white;
					}
				}
				
			}
			.about-Img{
				padding:1em 1.5em;
			}
			@media screen and (max-width:359px) and (min-width:320px){
			 	min-height:210px;
			 	background-size: 100% 35%;
				h1{
					padding:2em 0 0 1em;
					margin-top:0;
					font-size:1.8em;
				}
				h2{
					padding:0 0 0 1.5em;
					margin-top:0;
					font-size:1.1em;
				}
				.about-icons{
					height:40px;
					margin-right:1em;
					margin-top:3em;
					img{
						width:20px;
						height:20px;
						margin-top:-0.2em;
					}
					i{
						font-size:1.2em;
						padding:0.6em;
					}
				}
				.about-Img{
					padding:0.8em 1em;
				}
			}
			@media screen and (max-width:550px) and (min-width:360px){
			 	min-height:250px;
			 	background-size: 100% 40%;
				h1{
					padding:2em 0 0 1em;
					margin-top:0;
					font-size:2em;
				}
				h2{
					padding:0 0 0 1.5em;
					margin-top:0;
					font-size:1.2em;
				}
				.about-icons{
					height:40px;
					padding: auto 2em; 
					margin-right:1em;
					margin-top:4em;
					img{
						width:20px;
						height:20px;
						margin-top:-0.2em;
					}
					i{
						font-size:1.2em;
						padding:0.6em;
					}
				}
				.about-Img{
					padding:0.8em 1.1em;
				}
			}
			@media screen and (max-width:899px) and (min-width:551px){
			 	min-height:430px;
				background-size: 100% 70%;
				h1{
					padding:3em 0 0 2em;
					margin-top:0;
					font-size:3.5em;
				}
				h2{
					padding:0 0 0 3.5em;
					margin-top:0;
					font-size:2em;
				}
				.about-icons{
					height:65px;
					margin-right:1.8em;
					margin-top:4em;
					img{
						width:38px;
					}
					i{
						font-size:2.2em;
						padding:0.5em;
					}
				}
			}
			@media screen and (max-width:1240px) and (min-width:900px){
				min-height:520px;
				background-size: 100% 75%;
				h1{
					padding:3em 0 0 2em;
					margin-top:0;
					font-size:3.5em;
				}
				h2{
					padding:0 0 0 3.5em;
					margin-top:0;
					font-size:2em;
				}
				.about-icons{
					height:95px;
					margin-right:1.8em;
					margin-top:9em;
					img{
						width:60px;
					}
					i{
						font-size:3em;
						padding:0.6em;
					}
				}
				.about-Img{
					padding:1.1em 1.2em;
				}
			}	
		}
	}
	.about-mdesignRow{
		display: flex;
		margin-top:6em;
		.about-mdImageMobile{
			display:none;	
		}
		@media screen and (max-width:550px) and (min-width:320px){
			display: block;
			margin-top:2em;
			.about-mdImageMobile{
				display:block;
				img{
					width:240px;
				}	
			}
		}		
		.about-mdesign{
			justify-content:center;
			h2{
				font-family: 'Lato', sans-serif;
			}
			h3{
				font-family: 'Lato', sans-serif;
				margin-top:-0.2em;
			}
			p{
				font-size:16px;
				text-align:justify;
				@media screen and (max-width:1240px) and (min-width:900px){
					font-size:14px;
				}
			}
			@media screen and (max-width:550px) and (min-width:320px){
				h2{
					font-size:20px;
				}
				h3{
					font-size:14px;
				}
				p{
					font-size:10px;
				}
			}
			@media screen and (max-width:899px) and (min-width:551px){
				h2{
					font-size:16px;
				}
				h3{
					font-size:14px;
				}
				p{
					font-size:8px;
				}
			}
			@media screen and (max-width:1240px) and (min-width:900px){
				h2{
					font-size:23px;
				}
				h3{
					font-size:17px;
				}
				p{
					font-size:11px;
				}
			}
		}
		.about-mdImageRight{
			padding-right:0;
			img{
				width:100%;
				@media screen and (max-width:550px) and (min-width:320px){
					display:none;
				}
			}
		}
		.about-mdImageLeft{
			padding-left:0;
			img{
				width:100%;
				@media screen and (max-width:550px) and (min-width:320px){
					display:none;
					// min-width:50%;

				}
			}
		}
	}
	.about-affliations{
		padding-top:8em;
		@media screen and (max-width:550px) and (min-width:320px){
			padding-top:2em;
			h2{
				font-size:22px;
			}
		}
		@media screen and (max-width:899px) and (min-width:551px){
			padding-top:2em;
		}
		.about-logoBox{
			height:65px;
			margin-bottom:3em;
			h4{
				margin-top:1em;
				@media screen and (max-width:550px) and (min-width:320px){
					font-size:14px;
				}
			}
			.about-logos{
				display:flex;
				// justify-content:space-around;
				flex-wrap:wrap;
				padding:0;
				.about-logoCards{
					height:150px;
					background-color:white;
					margin:0.5em 0.1em 0em 0.2em;
					width:24.5%;
					.img1{
						margin:2.5em 0;
						width:80%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/ILA.png');
	         			background-repeat: no-repeat;
	         			background-size: 130px 70px;
	         			vertical-align:middle;
	         			float:right;
						&:hover{
							width:80%;
							background-image:url('/images/aboutPage/Affiliations/Original/ILA.png');
							background-repeat: no-repeat;
							background-size: 130px 70px;
						}
					}
					.img2{
						margin:3.5em 3em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c1.png');
	         			background-repeat: no-repeat;
	         			background-size: 160px 50px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Intellect.png');
							background-repeat: no-repeat;
							background-size: 160px 	50px;
						}
					}
					.img3{
						margin:3em;
						width:100%;
						height:90px;
						background-image:url('/images/aboutPage/Affiliations/Grey/Arevo.png');
	         			background-repeat: no-repeat;
	         			background-size: 170px 55px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Arevo.png');
							background-repeat: no-repeat;
							background-size: 170px 55px;
						}
					}
					.img4{
						margin:3.5em 2em;
						width:100%;
						height:120px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c4.png');
	         			background-repeat: no-repeat;
	         			background-size: 180px 45px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Transparent logo.png');
							background-repeat: no-repeat;
							background-size: 180px 45px;
						}
					}
					.img5{
						margin:1.8em 5em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c8.png');
	         			background-repeat: no-repeat;
	         			background-size: 80px 100px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Marico.jpg');
							background-repeat: no-repeat;
							background-size: 80px 100px;
						}
					}
					.img6{
						margin:3em 1em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c3.png');
	         			background-repeat: no-repeat;
	         			background-size: 190px 75px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/SOL.png');
							background-repeat: no-repeat;
							background-size: 190px 75px;
						}
					}
					.img7{
						margin:3em 2em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c6.png');
	         			background-repeat: no-repeat;
	         			background-size: 180px 60px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Apporbit.png');
							background-repeat: no-repeat;
							background-size: 180px 60px;
						}
					}
					.img8{
						margin:2em 4.2em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c5.png');
		         		background-repeat: no-repeat;
		         		background-size: 110px 110px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/northsouth.png');
							background-repeat: no-repeat;
							background-size: 110px 110px;
						}
					}
					.img9{
						margin:4em 2em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c2.png');
		         		background-repeat: no-repeat;
		         		background-size: 180px 50px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/samskrithabharathi.jpg');
							background-repeat: no-repeat;
							background-size: 180px 50px;
						}
					}
					.img10{
						margin:1.5em 4em;
						width:100%;
						height:100px;
						background-image:url('/images/aboutPage/Affiliations/Grey/c9.png');
		         		background-repeat: no-repeat;
		         		background-size: 120px 120px;
						&:hover{
							width:100%;
							background-image:url('/images/aboutPage/Affiliations/Original/Yoga Bharati.png');
							background-repeat: no-repeat;
							background-size: 120px 120px;
						}
					}
					@media screen and (max-width:550px) and (min-width:320px){
						width:45%;
						height:85px;
						.img1{
							margin:1.5em 0.5em;
		         			background-size: 70px 35px;
							&:hover{
								background-size: 70px 35px;
							}
						}

						.img2{
		         			background-size: 70px 25px;
							margin:2em 1em;
							&:hover{
								background-size:72px 25px;

							}
						}
						.img3{
							margin:2em 1em;
		         			background-size: 80px 32px;
							&:hover{
								background-size: 80px 32px;
							}
						}
						.img4{
							margin:2.5em 0.5em;
		         			background-size:75px 22px;
							&:hover{
								background-size:75px 22px;
							}
						}
						.img5{
							margin:1em 1.5em;
		         			background-size: 42px 46px;
							&:hover{
								background-size: 42px 46px;
							}
						}
						.img6{
							margin:1.5em 0;
		         			background-size: 85px 35px;
							&:hover{
								background-size: 85px 35px;
							}
						}
						.img7{
							margin:2em 1em;
		         			background-size: 90px 36px;
							&:hover{
								background-size: 90px 36px;
							}
						}
						.img8{
							margin:1.5em 1.8em;
			         		background-size: 50px 50px;
							&:hover{
								background-size: 50px 50px;
							}
						}
						.img9{
							margin:2em 1em;
			         		background-size:80px 30px;
							&:hover{
								background-size:80px 30px;
							}
						}
						.img10{
							margin:1em 1.8em;
			         		background-size: 50px 60px;
							&:hover{
								background-size: 50px 60px;
							}
						}	
					}
					@media screen and (max-width:899px) and (min-width:551px){
						width:22.5%;
						height:100px;
						.img1{
							margin-top:2em;
		         			background-size: 70px 40px;
							&:hover{
								background-size: 70px 40px;
							}
						}

						.img2{
		         			background-size: 70px 28px;
							margin:2.5em 1.3em;
							&:hover{
								background-size: 70px 28px;

							}
						}
						.img3{
							margin:2.5em 0.6em;
		         			background-size: 85px 30px;
							&:hover{
								background-size: 85px 30px;
							}
						}
						.img4{
							margin:2.5em 0.5em;
		         			background-size:90px 25px;
							&:hover{
								background-size:90px 25px;
							}
						}
						.img5{
							margin:0.9em 2em;
		         			background-size: 58px 74px;
							&:hover{
								background-size: 58px 74px;
							}
						}
						.img6{
							margin:2em 0.5em;
		         			background-size: 95px 42px;
							&:hover{
								background-size: 95px 42px;
							}
						}
						.img7{
							margin:2em 0.8em;
		         			background-size: 90px 40px;
							&:hover{
								background-size: 90px 40px;
							}
						}
						.img8{
							margin:1.5em;
			         		background-size: 60px 60px;
							&:hover{
								background-size: 60px 60px;
							}
						}
						.img9{
							margin:2.5em 1em;
			         		background-size: 82px 30px;
							&:hover{
								background-size: 82px 30px;
							}
						}
						.img10{
							margin:1.5em;
			         		background-size: 66px 66px;
							&:hover{
								background-size: 66px 66px;
							}
						}	
					}
					@media screen and (max-width:1240px) and (min-width:900px){
						width:22.5%;
						height:100px;
						.img1{
							margin-top:2em;
		         			background-size: 65px 40px;
							&:hover{
							background-size: 65px 40px;
							}
						}

						.img2{
							margin:2.5em;
		         			background-size: 75px 27px;
							&:hover{
								background-size: 75px 27px;
							}
						}
						.img3{
							margin:2.5em 1.5em;
		         			background-size: 86px 28px;
							&:hover{
								background-size: 86px 28px;
							}
						}
						.img4{
							margin:2.5em 1.5em;
		         			background-size:96px 23px;
							&:hover{
								background-size:96px 23px;
							}
						}
						.img5{
							margin:1em 3em;
		         			background-size: 52px 75px;
							&:hover{
								background-size: 52px 75px;
							}
						}
						.img6{
							margin:2em 1em;
		         			background-size: 100px 40px;
							&:hover{
								background-size: 100px 40px;
							}
						}
						.img7{
							margin:2em;
		         			background-size: 110px 35px;
							&:hover{
								background-size: 110px 35px;
							}
						}
						.img8{
							margin:2em 3em;
			         		background-size: 56px 56px;
							&:hover{
								background-size: 56px 56px;
							}
						}
						.img9{
							margin:2em;
			         		background-size: 90px 45px;
							&:hover{
								background-size: 90px 45px;
							}
						}
						.img10{
							margin:1.5em 2.5em;
			         		background-size: 64px 64px;
							&:hover{
								background-size: 64px 64px;
							}
						}	
					}
				}				
			}	
		}
	}
	.about-interviews{
		h2{
			padding:2em 0 0 0;
		}
		.about-card{
			background-color:white;
			height:300px;
			border:none;
			border-left:6px solid #256F76;
			margin-top:4em;
			.about-innerMargin{
				padding:2em;
				h4{
					margin-top:2em;
					i{
						font-size:2.5em;
						margin-left:-2em;
						color:grey;
					}
				}
				hr{
					width:60%;
					border:none;
					border-bottom:1px solid grey;
					margin-top:4.5em;	
				}
			}
		}
		@media screen and (max-width:550px) and (min-width:320px){
			h2{
				padding:1em 0 0 0;
				font-size:1.3em;
			}
			.about-card{
				height:150px;
				margin-top:1em;
				.about-innerMargin{
					padding:1em 0;
					sup{
						img{
							width:18px;
						}
					}
					sub{
						img{
							width:18px;
						}
					}
					h4{
						font-size:11px;
						margin-top:1em;
						sub{}
					}
					hr{
						margin-top:0.5em;	
					}
					p{
						margin-top:-0.5em;
						font-size:10px;	
					}
				}	
			}
		}
		@media screen and (max-width:899px) and (min-width:551px){
			.about-card{
				height:210px;
				margin-top:3em;
				.about-innerMargin{

					h4{
						font-size:13px;
						margin-top:2em;
					}
					hr{
						margin-top:2.5em;	
					}
				}	
			}
		}
		@media screen and (max-width:1200px) and (min-width:900px){
			.about-card{
				.about-innerMargin{
					sup{
						img{
							width:40px;
						}
					}
					sub{
						img{
							width:40px;
						}
					}
				}	
			}
		}
	}
} 


/**********************************************/
/**********************************************/

/***********************************************/
/*      CSS for Writing Page Starts here       */
/*              By Kiran Joshi                 */
/*           use prefix writings-*              */
/***********************************************/
.writings-container{
	background-color:#f5f5f5;
	min-height:700px;
	.writings-header{
		.pseudo-Navbar{
			height:65px;
			background-color:black;
			@media screen and (max-width:899px) and (min-width:320px){
				height:40px;
			}
			@media screen and (max-width:1200px) and (min-width:900px){
				height:50px;
			}
		}
		.writings-box{
			background-color:white;
			padding:0;
			padding-bottom:1.5em;
			header{
				padding:1em;
				h1{
				font-size:3.8em;
				}
				hr{
					width:7%;
					border:none;
					border-top:4px solid #DA4531;
					margin-top:-0.5em;
				}
			}
			.writings-seemore{
				color:grey;
				font-size:1.4em;
				text-decoration:none;
			}
			.writings-seeless{
				color:grey;
				font-size:1.4em;
				text-decoration:none;
				display:none;
			}
			@media screen and (max-width:550px) and (min-width:320px){
				header{
					padding:0em;
					h1{
						font-size:1.7em;
					}	
				}
			}
			@media screen and (max-width:899px) and (min-width:551px){
				header{
					h1{
						font-size:2.4em;
					}	
				}
			}
			@media screen and (max-width:1240px) and (min-width:900px){
				header{
					h1{
						font-size:3em;
					}	
				}
			}
			.mdRow{
				margin-top:4em;
				a{
					color:#434343;
				}
			}
			.writings-mdesign{
				padding:0;
				margin:0;
				padding-bottom:4em;
				display:flex;
				justify-content:center;
				.writing-book{
					margin-left:0;
					img{
						width:100%;
					}
				}
				.writings-bookMobile{
					display:none;
				}
				.writings-content{
					h2{
						font-size:2.4em;
					}
					h4{
						color:grey;
					}
					h3{
						line-height:1.4em;
						font-size:1.6em;
					}	
				}
				@media screen and (max-width:550px) and (min-width:320px){
					display:block;
					padding-bottom:2em;	
					.writings-book{
						img{
							display:none;
						}
					}
					.writings-bookMobile{
						display:block;
						img{
							// width:100%;
							align:center;
						}
					}
					.writings-content{		
						h2{
							font-size:1.6em;
						}
						h4{
							font-size:14px;
						}
						h3{
							line-height:1.2em;
							padding-right:0em;
							font-size:1.15em;	
						}
					}
				}
				@media screen and (max-width:899px) and (min-width:551px){	
					.writings-book{
						img{
							// width:100%;
						}
					}
					.writings-content{		
						h2{
							font-size:1.5em;
						}
						h4{
							font-size:10px;
						}
						h3{
							line-height:1.2em;
							padding-right:0.5em;
							font-size:1.2em;	
						}
					}
				}
				@media screen and (max-width:1240px) and (min-width:900px){	
					.writings-book{
						img{
							// width:100%;
						}
					}
					.writings-content{		
						h2{
							font-size:2.2em;
						}
						h4{
						}
						h3{
							line-height:1.2em;
							// padding-right:0.5em;
							font-size:1.8em;	
						}
					}
				}
			}
			.writings-publishedArticle{
				margin:0;
				padding-bottom:2em;
				a{
					color:#434343;
					.writings-paRow{
						padding:0px;
						background-color:#f5f5f5;
						border:1px solid #D5D4D4;
						height:130px;
						.writings-logos{
							padding:0px;
							img{
								height:130px;
								background-size:cover;
							}
						}
						.writings-content{
							padding-top:1.6em;
							h4{
								line-height:1.2em;
							}
							h6{
								color:#AEAEAE;
							}
						}
						.writings-hoverEffect{
							display:none;
							padding-top:1.6em;		
							background-color:#1B5F5E;
							color:white;
							height:121px;
							sup{
								img{
									width:55px;
									padding-right:15px;
								}
							}
							h4{
								vertical-align:middle;
								padding:12px 0;
							}
							sub{
								img{ 
									width:55px;
									padding-right:15px;
								}
							}
						}
					}
				}
				@media screen and (max-width:360px) and (min-width:320px){
					padding-bottom:1em;
					a{
						.writings-paRow{
							margin-top:1em;
							height:86.5px;
							.writings-logos{
								img{
									height:85px;
									width:100%;
								}
							}
							.writings-content{
								padding-top:0.6em;
								h4{
									line-height:13px;
									font-size:8px;
								}
								h6{
									font-size:7px;
								}
							}
						}
					}	
				}
				@media screen and (max-width:550px) and (min-width:370px){
					padding-bottom:0em;
					a{
						.writings-paRow{
							margin-top:1.5em;
							height:110px;							
							.writings-logos{
								img{
									height:109px;
									width:100%;
								}
							}
							.writings-content{
								h4{
									line-height:13px;
									font-size:11px;
								}
								h6{
									font-size:10px;
								}
							}
						}
					}	
				}
				@media screen and (max-width:899px) and (min-width:551px){
					padding-bottom:0em;
					a{
						.writings-paRow{
							margin-top:2em;
							height:131.5px;
							.writings-content{
								padding-top:1.4em;
								h4{
									line-height:1.2em;
								}
							}
						}
					}	
				}
				@media screen and (max-width:1240px) and (min-width:900px){	
					a{
						.writings-paRow{
							margin-top:2em;
							padding-bottom:0em;
							.writings-logos{
								img{
									// margin-left:-2.2em;
									width:100%;
								}
							}
							.writings-content{
								padding-top:1.4em;
								h4{
									line-height:1.2em;
								}
								h6{
									color:grey;
								}
							}
						}
					}	
				}
			}
			.writings-researchPapers{
				padding-bottom:2em;
				padding-left:0;
				padding-right:0;
				margin:0;
				a{
					color:#434343;
					.writings-rpRow{
						background-color:#f5f5f5;
						border:1px solid #D5D4D4;
						height:150px;
						.writings-content{
							padding-top:1.6em;
							h4{
								line-height:1.2em;
							}
							h6{
								color:#AEAEAE;
							}
							.researchCard{
								padding-bottom:1.5em;
							}
						}
						.writings-rpHover{
							display:none;
							padding-top:1.6em;		
							background-color:#1B5F5E;
							color:white;
							h4{
								padding:1em 0 0 0;
								vertical-align:middle;
							}
						}
					}
				}
				@media screen and (max-width:360px) and (min-width:320px){
					padding-bottom:0em;
					a{
						.writings-rpRow{
							margin-top:1em;
							height:100px;
							.writings-content{
								padding-top:0;
								h4{
									line-height:13px;
									font-size:10px;
								}
								h6{
									font-size:9px;
								}
							}
						}
					}	
				}
				@media screen and (max-width:550px) and (min-width:370px){
					padding-bottom:0em;
					a{
						.writings-rpRow{
							margin-top:1.5em;
							height:120px;							
							.writings-content{
								padding-top:0.6em;
								h4{
									line-height:13px;
									font-size:11px;
								}
								h6{
									font-size:10px;
								}
							}
						}
					}	
				}
				@media screen and (max-width:899px) and (min-width:551px){
					padding-bottom:0em;
					a{
						.writings-rpRow{
							margin-top:2em;
							.writings-content{
								padding-top:1.4em;
								h4{
									line-height:1.2em;
								}
							}
						}
					}	
				}
				@media screen and (max-width:1240px) and (min-width:900px){
					a{	
						.writings-rpRow{
							margin-top:2em;
							padding-bottom:0em;
							.writings-content{
								padding-top:1.4em;
								h4{
									line-height:1.2em;
								}
								h6{
									color:grey;
								}
							}
						}
					}
				}
			}
			.addPadding{
				padding-bottom:1.5em;
			}
		}
		.removePadding{
			padding-bottom:0;
		}
	}
} 
/**********************************************/
/**********************************************/

/***********************************************/
/*      CSS for Speaking Page Starts here       */
/*              By Kiran Joshi                 */
/*           use prefix videos-*              */
/***********************************************/
.pseudo-navbar{
	height:70px;
	background-color:black;
	@media screen and (max-width:550px) and (min-width:320px){
		height:45px;   
	}
	@media screen and (max-width:899px) and (min-width:551px){
		height:40px;   
	}
}
.videos-container{
	margin-bottom:2em;
	.videos-gridLayout{
		margin-top:5em;
		padding:0px;
		margin-right:1em;
		background-color:#EDEFF1;
		box-shadow:2px 2px 7px #444;
		iframe{
			border:none;
			padding-bottom:1em;
		}
		.frame-type1{
			width:100%;
			height:706px;
		}
		.frame-type2{
			width:100%;
			height:400px;
		}
		.frame-type3{
			width:100%;
			height:380px;
		}
		.frame-type4{
			width:100%;
			height:380px;
		}
		.videos-title{
			background-color:#EDEFF1;
			h3{
				font-size:17px;
				margin-top:0px;
				padding-left:0.8em;
			}
			h4{
				font-size:13px;
				padding-left:1em;
				a{
					color:#333;
					text-decoration:underline;
				}
			}
		}
		@media screen and (max-width:550px) and (min-width:320px){
			margin:1em;
			.frame-type1{
				width:100%;
				height:350px;
			}
			.frame-type2{
				width:100%;
				height:350px;
			}
			.frame-type3{
				width:100%;
				height:350px;
			}
			.frame-type4{
				width:100%;
				height:350px;
			}
			.videos-title{
				h3{
					font-size:14px;
					margin-top:0px;
				}
				h4{
					font-size:10px;
				}
			}
		}
	}
	.frame-top{
		margin-top:8em;
		@media screen and (max-width:550px) and (min-width:320px){
			margin-top:5em;
		}
	}
}

/**********************************************/
/**********************************************/


/***********************************************/
/*      CSS for Academia Page Starts here       */
/*              By Kiran Joshi                 */
/*           use prefix academia-*             */
/***********************************************/

.academia-container{
	margin-bottom:2em;
	.academia-gridlayout{
		margin-top:8em;
		padding:0px;
		.leftcard{
			float:left;
		}
		.rightcard{
			float:right;
		}
		.academia-cards{
			background-color:white;
			width:46%;
			height:460px;
			border:1px solid #eaeaea;
			box-shadow:6px 6px 7px slategrey;
			img{
				padding:2em 1em;
				width:80%;
				margin-left:3em;
			}
			.small{
				margin:3em 0 2em 0;
				width:100%;
			}
			p{
				margin-top:-1.5em;
				font-size:18px;
				color:#666;
				padding:0.7em;
				text-align:center;
				a{
					color:#666;
					text-decoration:underline;
				}
			}
			.imgMargin{
				border:none;
				border-top:1px solid #eaeaea;
			}
			h4{
				margin-top:-0.5em;
				color:#666;
				padding:0.7em;
				text-align:center;
				a{
					color:#666;
					text-decoration:underline;
				}
			}
		}
		hr{
			width:7%;
			border:none;
			border-top:4px solid #DA4531;
		}
		.academia-flexCards{
			margin-top:3em;
			padding:0;
			display:flex;
			justify-content:space-around;
			.academia-businesSchool{
				background-color:white;
				border-radius:8px;
				box-shadow:3px 3px 7px slategrey;
				img{
					width:100%;
					margin-top:3em;
					margin-bottom:3em;
				}
				.image{
					margin-top:5em;
					margin-bottom:4em;
				}
				.usc{
					width:80%;
				}
				.lbs{
					width:65%;
				}
			}
			.webVisible{
				display:block;
			}
			.mobileVisible{
				display:none;		
			}
		}
		@media screen and (max-width:550px) and (min-width:320px){
			margin-top:2em;
			.rightcard{
				margin-top:2em;
			}
			h2{
				font-size:22px;
			}
			.academia-cards{
				width:90%;
				height:350px;
				float:none;
				margin-left:5%;
				img{
					padding:1em;
					margin-bottom:1em;
				}
				.small{
					margin-left:5%;
					margin:2em 0 1em 0;
				}
				p{
					font-size:14px;
				}
				h4{
					font-size:14px;
				}
			}
			.academia-flexCards{
				display:block;
				margin-top:0;		
				.academia-businesSchool{
					margin-left:1.4em;
					margin-top:2.5em;
					padding:1.5em;
					img{
						margin:0;
					}
					.image{
						margin:1em 0;
					}
				}
				.lbscard{
					margin-top:0;
				}
				.webVisible{
					display:none;
				}
				.mobileVisible{
					display:block;
				}
			}	
		}
		@media screen and (max-width:899px) and (min-width:551px){
			margin-top:2em;
			.academia-cards{
				width:48%;
				height:400px;
				.small{
					margin:3em 0 0 0;
				}
				p{
					font-size:15px;
				}
				h4{
					font-size:15px;
				}
			}
			.academia-flexCards{
				.academia-businesSchool{
					.image{
						margin-top:4em;
						margin-bottom:3em;
					}
				}
			}
		}
		@media screen and (max-width:1240px) and (min-width:900px){	
			margin-top:4em;
			.academia-cards{
				height:380px;
				.small{
					margin:3em 0 0 0;
					width:100%;
				}
				p{
					font-size:15px;
				}
				h4{
					font-size:15px;
				}
			}
			hr{
				width:10%;
			}
			.academia-flexCards{
				.academia-businesSchool{
					img{
						margin-top:3em;
					}
					.image{
						margin-top:4em;
						margin-bottom:3em;
					}
				}
			}	
		}	
	}
	.acd-margin{
		margin-top:0;
	}
}


/**********************************************/
/**********************************************/


/***********************************************/
/*    CSS for getInTouch Page Starts here      */
/*              By Kiran Joshi                 */
/*              use prefix git-*               */
/***********************************************/
.git-container{
	.git-heroImg{
		margin-top:5em;
		background-image: url("/images/getInTouch/Hero.png");
	    background-repeat:no-repeat;
	    .git-gradientImg{
	    	background-image: url('/images/getInTouch/Editedgradient.png');
	    	background-size:cover;
	    	background-repeat:no-repeat;
	    	.git-heroHeading{
	    		border-right:1px solid white;
	    		height:440px;
	    		margin:2em 0;
	    		h1{
	    			margin-top:25%;
	    			color:white;
	    			font-size:60px;
	    		}
	    	}
	    	.git-heroContent{
	    		.topH2{
	    			margin-top:18%;
	    		}
	    		h2{
	    			color:white;
	    			padding-top:1.5em;
	    		}
	    	}
	    }
	    @media screen and (max-width:359px) and (min-width:320px){
	    	margin-top:2.8em;
	    	background-size:100% 100%;
	    	height:180px;
	    	.git-gradientImg{
	    		background-size:100% 100%;
		    	.git-heroHeading{
		    		height:125px;
		    		h1{
		    			margin-top:40%;
		    			font-size:18px;
		    		}
		    	}
		    	.git-heroContent{
		    		.topH2{
		    			margin-top:50%;
		    		}
		    		h2{
		    			font-size:9px;
		    			padding-top:0.4em;
		    		}
		    	}
		    }
	    }
	    @media screen and (max-width:550px) and (min-width:360px){
	    	margin-top:2.8em;
	    	background-size:100% 100%;
	    	height:200px;
	    	.git-gradientImg{
	    		background-size:100% 100%;
		    	.git-heroHeading{
		    		height:145px;
		    		h1{
		    			margin-top:38%;
		    			font-size:20px;
		    		}
		    	}
		    	.git-heroContent{
		    		.topH2{
		    			margin-top:38%;
		    		}
		    		h2{
		    			font-size:12px;
		    			padding-top:0.8em;
		    		}
		    	}
		    }
	    }
	    @media screen and (max-width:899px) and (min-width:551px){
	    	margin-top:2.8em;
	    	background-size:100% 100%;
	    	height:350px;
	    	.git-gradientImg{
	    		background-size:100% 100%;
		    	.git-heroHeading{
		    		height:295px;
		    		h1{
		    			margin-top:36%;
		    			font-size:38px;
		    		}
		    	}
		    	.git-heroContent{
		    		.topH2{
		    			margin-top:34%;
		    		}
		    		h2{
		    			font-size:24px;
		    			padding-top:0.8em;
		    		}
		    	}
		    }
	    }
	    @media screen and (max-width:1240px) and (min-width:900px){
	    	background-size:100% 100%;
	    	height:500px;
	    	.git-gradientImg{
	    		background-size:100% 100%;
		    	.git-heroHeading{
		    		margin:2em 0;
		    		height:444px;
		    		h1{
		    			margin-top:38%;
		    			font-size:45px;
		    		}
		    	}
		    	.git-heroContent{
		    		.topH2{
		    			margin-top:34%;
		    		}
		    		h2{
		    			font-size:26px;
		    			padding-top:1em;
		    		}
		    	}
		    }
	    }
	}
	.git-content{
		background-color:#f5f5f5;
		.git-headline{
			h2{
				color:#868686;
				padding:2em 0;
			}
			@media screen and (max-width:550px) and (min-width:320px){
				h2{
					font-size:16px;
				}	
			}
			@media screen and (max-width:900px) and (min-width:551px){
				h2{
					font-size:24px;
				}	
			}
		}
		.git-cards{
			display:flex;
			justify-content:space-around;
			.cardArea{
				padding:0.6em 2.2em;
				height:340px;
				background-color:white;
				h3{
					font-size:21px;
					color:#797979;
					text-align:left;
				}
				h4{
					font-size:17px;
					color:#797979;
					line-height:1.4em;
					margin-top:6em;
					text-align:left;
				}
			}
			
			.number1{
				background-image:url('/images/getInTouch/Number1.png');
				background-repeat:no-repeat;
				border:1px solid transparent;
				width:100%;
			}
			.number2{
				background-image:url('/images/getInTouch/Number2.png');
				background-repeat:no-repeat;
				border:1px solid transparent;
				h4{
					margin-top:7em;
				}
			}
			.number3{
				background-image:url('/images/getInTouch/Number3.png');
				background-repeat:no-repeat;
				border:1px solid transparent;
			}
			@media screen and (max-width:550px) and (min-width:320px){	
				display:block;
				justify-content:center;
				.cardArea{
					height:260px;
					float:none;
					margin-bottom:2em;
					padding: 0.6em 1.2em;
					h3{
						font-size:17px;
					}
					h4{
						font-size:12px;
						line-height:1.5em;
						margin-top:3.5em;
					}
				}
				.number1{
					background-size:100% 100%;
				}
				.number2{
					background-size:100% 100%;
					h4{
						margin-top:6em;
					}
				}
				.number3{
					background-size:100% 100%;
				}
			}
			@media screen and (max-width:550px) and (min-width:360px){
				display:block;
				justify-content:center;
				.cardArea{
					height:275px;
					float:none;
					margin-bottom:4em;
					h3{
						font-size:17px;
					}
					h4{
						font-size:14px;
						line-height:1.5em;
						margin-top:3.5em;
					}
				}
				.number1{
					background-size:80% 100%;
				}
				.number2{
					background-size:80% 100%;
					h4{
						margin-top:5em;
					}
				}
				.number3{
					background-size:80% 100%;
				}
			}
			@media screen and (max-width:899px) and (min-width:551px){	
				.cardArea{
					height:260px;
					h3{
						font-size:17px;
					}
					h4{
						font-size:11px;
						line-height:1.3em;
						margin-top:5em;
					}
				}
				.number1{
					background-size:100% 55%;
				}
				.number2{
					background-size:100% 72%;
					h4{
						margin-top:6em;
					}
				}
				.number3{
					background-size:100% 72%;
				}
			}
			@media screen and (max-width:1240px) and (min-width:900px){	
				.cardArea{
					h3{
						font-size:17px;
					}
					h4{
						font-size:15px;
						line-height:1.4em;
						margin-top:7em;
					}
				}
				.number2{
					h4{
						margin-top:8em;
					}
				}
			}
		}
		.git-contactForm{
			margin-top:5em;
			.git-formArea{
				margin-bottom:4em;
				margin-top:4em;
				background-color:#1B5F5E;
				color:white;
				padding:3em 0;
				.git-para{
					color:white;
					letter-spacing:0px;
					h3{			
						line-height:1.3;
					}
					@media screen and (max-width:550px) and (min-width:320px){
					 	h3{		
					 		font-size:17px;	
							line-height:1.3;
						}
					}
					@media screen and (max-width:899px) and (min-width:551px){
					 	h3{		
					 		font-size:18px;	
							line-height:1.3;
						}
					}
				}
				.git-inputs{
					margin-top:1.3em;
					padding-bottom:1em;
					input[type=text]{
						margin-bottom:2em;
					}
					input[type=email]{
						margin-bottom:2em;
					}
					.submitBtn{
						width:20%;
						color:#1B5F5E;
						@media screen and (max-width:550px) and (min-width:320px){
					 		width:42%;
					 	}
						@media screen and (max-width:899px) and (min-width:551px){
					 		width:38%;
					 	}
						@media screen and (max-width:1200px) and (min-width:900px){
							width:30%;
						}
					}
				}
			}
		}
	}
}