body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

/***********************************************/
/*        CSS for Home Page Starts here        */
/*              By Kiran Joshi                 */
/*              use prefix hp-*                */
/***********************************************/
.hp-container {
  background-color: #eeeeee;
  padding-bottom: 6em; }
  .hp-container .hp-heroImg {
    width: 100%; }
    .hp-container .hp-heroImg img {
      width: 102%;
      margin-left: -1em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .hp-container .hp-heroImg img {
          width: 106.8%; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .hp-container .hp-heroImg img {
          width: 103.8%; } }
      @media screen and (max-width: 1200px) and (min-width: 900px) {
        .hp-container .hp-heroImg img {
          width: 102.9%; } }
  .hp-container .hp-showcase {
    padding-top: 8em; }
    .hp-container .hp-showcase .hp-card {
      width: 350px;
      margin-right: 4em;
      background-color: white; }
      .hp-container .hp-showcase .hp-card img {
        margin-left: -1em;
        width: 350px;
        height: 242px; }
      .hp-container .hp-showcase .hp-card h2 {
        color: black; }
      .hp-container .hp-showcase .hp-card h3 {
        color: #434343;
        font-size: 1.9em; }
      .hp-container .hp-showcase .hp-card p {
        padding: 1em 2em;
        color: #0000EE;
        margin-top: 3em; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .hp-container .hp-showcase {
        padding-top: 4em;
        padding-left: 4em; }
        .hp-container .hp-showcase .hp-card {
          width: 80%;
          margin-bottom: 3em;
          margin-right: 0.4em; }
          .hp-container .hp-showcase .hp-card img {
            width: 110.5%;
            object-fit: fill;
            height: 100%;
            margin-left: -1em; }
          .hp-container .hp-showcase .hp-card h2 {
            margin-top: 10px;
            font-size: 1.6em; }
          .hp-container .hp-showcase .hp-card h3 {
            font-size: 1.2em; }
          .hp-container .hp-showcase .hp-card p {
            font-size: 1em;
            margin-top: 0; } }
    @media screen and (max-width: 899px) and (min-width: 551px) {
      .hp-container .hp-showcase .hp-card {
        width: 200px;
        margin-right: 2em; }
        .hp-container .hp-showcase .hp-card img {
          margin-left: -1em;
          width: 200px;
          height: 150px; }
        .hp-container .hp-showcase .hp-card h3 {
          font-size: 1.3em; }
        .hp-container .hp-showcase .hp-card p {
          margin-top: 1em; } }
    @media screen and (max-width: 1200px) and (min-width: 900px) {
      .hp-container .hp-showcase .hp-card {
        width: 270px;
        margin-right: 2em; }
        .hp-container .hp-showcase .hp-card img {
          margin-left: -1em;
          width: 270px;
          height: 190px; }
        .hp-container .hp-showcase .hp-card h3 {
          font-size: 1.4em; }
        .hp-container .hp-showcase .hp-card p {
          margin-top: 2em; } }
  .hp-container .hp-socialIcon {
    margin-top: 5em; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .hp-container .hp-socialIcon {
        margin-top: 3em; } }
    .hp-container .hp-socialIcon .hp-area {
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-color: white;
      margin-right: 2.8em; }
      .hp-container .hp-socialIcon .hp-area img {
        width: 70px;
        height: 70px;
        margin: 1.8em 0.8em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .hp-container .hp-socialIcon .hp-area {
          width: 80px;
          height: 80px;
          margin-right: 1.5em; }
          .hp-container .hp-socialIcon .hp-area img {
            width: 32px;
            height: 32px; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .hp-container .hp-socialIcon .hp-area {
          width: 100px;
          height: 100px; }
          .hp-container .hp-socialIcon .hp-area img {
            width: 50px;
            height: 50px; } }
      @media screen and (max-width: 1200px) and (min-width: 900px) {
        .hp-container .hp-socialIcon .hp-area {
          margin-right: 2em; } }
  .hp-container .hp-contactForm {
    margin-top: 5em; }
    .hp-container .hp-contactForm .hp-formArea {
      background-color: #1B5F5E;
      color: white;
      padding: 3em 0; }
      .hp-container .hp-contactForm .hp-formArea .hp-para {
        color: white;
        letter-spacing: 0px; }
        .hp-container .hp-contactForm .hp-formArea .hp-para h3 {
          line-height: 1.3; }
        @media screen and (max-width: 550px) and (min-width: 320px) {
          .hp-container .hp-contactForm .hp-formArea .hp-para h3 {
            font-size: 17px;
            line-height: 1.3; } }
        @media screen and (max-width: 899px) and (min-width: 551px) {
          .hp-container .hp-contactForm .hp-formArea .hp-para h3 {
            font-size: 18px;
            line-height: 1.3; } }
      .hp-container .hp-contactForm .hp-formArea .hp-inputs {
        margin-top: 1.3em;
        padding-bottom: 1em; }
        .hp-container .hp-contactForm .hp-formArea .hp-inputs input[type=text] {
          margin-bottom: 2em; }
        .hp-container .hp-contactForm .hp-formArea .hp-inputs input[type=email] {
          margin-bottom: 2em; }
        .hp-container .hp-contactForm .hp-formArea .hp-inputs .submitBtn {
          width: 20%;
          color: #1B5F5E; }
          @media screen and (max-width: 550px) and (min-width: 320px) {
            .hp-container .hp-contactForm .hp-formArea .hp-inputs .submitBtn {
              width: 42%; } }
          @media screen and (max-width: 899px) and (min-width: 551px) {
            .hp-container .hp-contactForm .hp-formArea .hp-inputs .submitBtn {
              width: 38%; } }
          @media screen and (max-width: 1200px) and (min-width: 900px) {
            .hp-container .hp-contactForm .hp-formArea .hp-inputs .submitBtn {
              width: 30%; } }

/**********************************************/
/**********************************************/
/***********************************************/
/*       CSS for About Page Starts here        */
/*              By Kiran Joshi                 */
/*            use prefix about-*               */
/***********************************************/
.about-container {
  background-color: #F3F3F3; }
  .about-container .about-heroImg {
    background-image: url("/images/aboutPage/Heroimage_About.png");
    min-height: 710px;
    width: 102.2%;
    margin-left: -1.1em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    .about-container .about-heroImg h1 {
      font-family: 'Lato', sans-serif;
      color: white;
      padding: 3em 0 0 3em;
      margin-top: 0;
      font-size: 4em; }
    .about-container .about-heroImg h2 {
      font-family: 'Lato', sans-serif;
      color: white;
      padding: 0 0 0 4em;
      margin-top: 0;
      font-size: 3em; }
    .about-container .about-heroImg .about-icons {
      margin-top: 15em;
      height: 118px;
      border: 2px solid white;
      border-radius: 80px;
      margin-right: 5em;
      padding: 2em; }
      .about-container .about-heroImg .about-icons img {
        margin-left: -0.4em;
        margin-top: -0.5em;
        width: 70px; }
      .about-container .about-heroImg .about-icons i {
        color: white; }
      .about-container .about-heroImg .about-icons:active, .about-container .about-heroImg .about-icons:visited, .about-container .about-heroImg .about-icons:hover {
        background-color: #1B5F5E;
        border: 2px solid white; }
        .about-container .about-heroImg .about-icons:active i, .about-container .about-heroImg .about-icons:visited i, .about-container .about-heroImg .about-icons:hover i {
          color: white; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .about-container .about-heroImg {
        height: 250px;
        width: 107.6%;
        margin-left: -1.1em;
        background-size: 100% 100%; }
        .about-container .about-heroImg h1 {
          padding: 2em 0 0 1em;
          margin-top: 0;
          font-size: 2em; }
        .about-container .about-heroImg h2 {
          padding: 0 0 0 1.5em;
          margin-top: 0;
          font-size: 1.2em; }
        .about-container .about-heroImg .about-icons {
          margin-top: 4em;
          height: 35px;
          margin-right: 1em;
          padding: auto; }
          .about-container .about-heroImg .about-icons img {
            margin-left: -1.4em;
            margin-top: -1.5em;
            width: 40px; }
          .about-container .about-heroImg .about-icons i {
            margin-left: -0.55em;
            margin-top: -1em;
            font-size: 2.2em; } }
    @media screen and (max-width: 899px) and (min-width: 551px) {
      .about-container .about-heroImg {
        height: 430px;
        width: 104%;
        margin-left: -1.1em;
        background-size: 100% 100%; }
        .about-container .about-heroImg h1 {
          padding: 3em 0 0 2em;
          margin-top: 0;
          font-size: 3.5em; }
        .about-container .about-heroImg h2 {
          padding: 0 0 0 3.5em;
          margin-top: 0;
          font-size: 2em; }
        .about-container .about-heroImg .about-icons {
          margin-top: 3.9em;
          height: 88px;
          padding: 3em;
          margin-right: 3em; }
          .about-container .about-heroImg .about-icons img {
            margin-left: -1.8em;
            margin-top: -1.8em;
            width: 53px; }
          .about-container .about-heroImg .about-icons i {
            font-size: 3em;
            margin-top: -1.2em;
            margin-left: -0.5em; } }
    @media screen and (max-width: 1200px) and (min-width: 900px) {
      .about-container .about-heroImg {
        height: 520px;
        width: 103%;
        margin-left: -1.1em;
        background-size: 100% 100%; }
        .about-container .about-heroImg h1 {
          padding: 3em 0 0 2em;
          margin-top: 0;
          font-size: 3.5em; }
        .about-container .about-heroImg h2 {
          padding: 0 0 0 3.5em;
          margin-top: 0;
          font-size: 2em; }
        .about-container .about-heroImg .about-icons {
          margin-top: 10em;
          height: 88px; }
          .about-container .about-heroImg .about-icons img {
            margin-left: -0.95em;
            margin-top: -0.9em;
            width: 53px; }
          .about-container .about-heroImg .about-icons i {
            font-size: 3em;
            margin-top: -0.2em;
            margin-left: -0.2em; } }
  .about-container .about-mdesignRow {
    margin-top: 6em; }
    .about-container .about-mdesignRow .about-mdImageMobile {
      display: none; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .about-container .about-mdesignRow {
        margin-top: 2em; }
        .about-container .about-mdesignRow .about-mdImageMobile {
          display: block; }
          .about-container .about-mdesignRow .about-mdImageMobile img {
            width: 240px; } }
    .about-container .about-mdesignRow .about-mdesign h2 {
      font-family: 'Lato', sans-serif; }
    .about-container .about-mdesignRow .about-mdesign h3 {
      font-family: 'Lato', sans-serif;
      margin-top: -0.2em; }
    .about-container .about-mdesignRow .about-mdesign p {
      font-size: 16px;
      text-align: justify; }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .about-container .about-mdesignRow .about-mdesign p {
          font-size: 14px; } }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .about-container .about-mdesignRow .about-mdesign h2 {
        font-size: 20px; }
      .about-container .about-mdesignRow .about-mdesign h3 {
        font-size: 14px; }
      .about-container .about-mdesignRow .about-mdesign p {
        font-size: 10px; } }
    @media screen and (max-width: 899px) and (min-width: 551px) {
      .about-container .about-mdesignRow .about-mdesign h2 {
        font-size: 21px; }
      .about-container .about-mdesignRow .about-mdesign h3 {
        font-size: 16px; }
      .about-container .about-mdesignRow .about-mdesign p {
        font-size: 10px; } }
    @media screen and (max-width: 1240px) and (min-width: 900px) {
      .about-container .about-mdesignRow .about-mdesign h2 {
        font-size: 24px; }
      .about-container .about-mdesignRow .about-mdesign h3 {
        font-size: 18px; }
      .about-container .about-mdesignRow .about-mdesign p {
        font-size: 12px; } }
    .about-container .about-mdesignRow .about-mdImageRight img {
      margin-left: 0.71em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .about-container .about-mdesignRow .about-mdImageRight img {
          display: none; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .about-container .about-mdesignRow .about-mdImageRight img {
          display: flex;
          width: 295px; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .about-container .about-mdesignRow .about-mdImageRight img {
          width: 101%; } }
    .about-container .about-mdesignRow .about-mdImageLeft img {
      margin-left: -0.91em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .about-container .about-mdesignRow .about-mdImageLeft img {
          display: none; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .about-container .about-mdesignRow .about-mdImageLeft img {
          width: 295px; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .about-container .about-mdesignRow .about-mdImageLeft img {
          width: 101%; } }
  .about-container .about-affliations {
    padding-top: 8em; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .about-container .about-affliations {
        padding-top: 2em; }
        .about-container .about-affliations h2 {
          font-size: 22px; } }
    @media screen and (max-width: 899px) and (min-width: 551px) {
      .about-container .about-affliations {
        padding-top: 2em; } }
    .about-container .about-affliations .about-logoBox {
      background-color: white;
      margin-top: 1em;
      margin-bottom: 3em;
      padding-top: 1em; }
      .about-container .about-affliations .about-logoBox h4 {
        margin-top: 1em; }
        @media screen and (max-width: 550px) and (min-width: 320px) {
          .about-container .about-affliations .about-logoBox h4 {
            font-size: 14px; } }
      .about-container .about-affliations .about-logoBox .about-logos {
        padding: 2em 0; }
        .about-container .about-affliations .about-logoBox .about-logos .img1 {
          margin-top: -2em;
          width: 28%;
          height: 140px;
          background-image: url("/images/aboutPage/Affiliations/Grey/ILA.png");
          background-repeat: no-repeat;
          background-size: 210px 110px; }
          .about-container .about-affliations .about-logoBox .about-logos .img1:hover {
            margin-top: -2em;
            height: 140px;
            width: 28%;
            padding: 5px;
            background-image: url("/images/aboutPage/Affiliations/Original/ILA.png");
            background-repeat: no-repeat;
            background-size: 210px 110px; }
        .about-container .about-affliations .about-logoBox .about-logos .img2 {
          width: 28%;
          height: 100px;
          background-image: url("/images/aboutPage/Affiliations/Grey/c1.png");
          background-repeat: no-repeat;
          background-size: 250px 90px; }
          .about-container .about-affliations .about-logoBox .about-logos .img2:hover {
            width: 28%;
            background-image: url("/images/aboutPage/Affiliations/Original/Intellect.png");
            background-repeat: no-repeat;
            background-size: 250px 	90px; }
        .about-container .about-affliations .about-logoBox .about-logos .img3 {
          width: 28%;
          height: 90px;
          margin-left: 3em;
          background-image: url("/images/aboutPage/Affiliations/Grey/Arevo.png");
          background-repeat: no-repeat;
          background-size: 250px 85px; }
          .about-container .about-affliations .about-logoBox .about-logos .img3:hover {
            width: 28%;
            margin-left: 3em;
            background-image: url("/images/aboutPage/Affiliations/Original/Arevo.png");
            background-repeat: no-repeat;
            background-size: 250px 85px; }
        .about-container .about-affliations .about-logoBox .about-logos .img4 {
          margin-top: 2em;
          margin-left: 1.5em;
          width: 28%;
          height: 120px;
          background-image: url("/images/aboutPage/Affiliations/Grey/c4.png");
          background-repeat: no-repeat;
          background-size: 280px 70px; }
          .about-container .about-affliations .about-logoBox .about-logos .img4:hover {
            width: 28%;
            margin-left: 1.5em;
            background-image: url("/images/aboutPage/Affiliations/Original/Transparent logo.png");
            background-repeat: no-repeat;
            background-size: 280px 70px; }
        .about-container .about-affliations .about-logoBox .about-logos .img5 {
          margin-top: -4em;
          width: 28%;
          height: 180px;
          background-image: url("/images/aboutPage/Affiliations/Grey/c8.png");
          background-repeat: no-repeat;
          background-size: 170px 180px; }
          .about-container .about-affliations .about-logoBox .about-logos .img5:hover {
            margin-top: -4em;
            width: 28%;
            background-image: url("/images/aboutPage/Affiliations/Original/Marico.jpg");
            background-repeat: no-repeat;
            background-size: 170px 180px; }
        .about-container .about-affliations .about-logoBox .about-logos .img6 {
          margin-left: -5em;
          margin-top: -4em;
          width: 28%;
          height: 180px;
          background-image: url("/images/aboutPage/Affiliations/Grey/c3.png");
          background-repeat: no-repeat;
          background-size: 360px 170px; }
          .about-container .about-affliations .about-logoBox .about-logos .img6:hover {
            margin-left: -5em;
            margin-top: -4em;
            width: 28%;
            background-image: url("/images/aboutPage/Affiliations/Original/SOL.png");
            background-repeat: no-repeat;
            background-size: 360px 170px; }
        .about-container .about-affliations .about-logoBox .about-logos .img7 {
          margin-left: 4em;
          width: 28%;
          height: 180px;
          background-image: url("/images/aboutPage/Affiliations/Grey/c6.png");
          background-repeat: no-repeat;
          background-size: 340px 120px; }
          .about-container .about-affliations .about-logoBox .about-logos .img7:hover {
            margin-left: 4em;
            width: 28%;
            background-image: url("/images/aboutPage/Affiliations/Original/Apporbit.png");
            background-repeat: no-repeat;
            background-size: 340px 120px; }
        @media screen and (max-width: 550px) and (min-width: 320px) {
          .about-container .about-affliations .about-logoBox .about-logos {
            padding: 1em 1em; }
            .about-container .about-affliations .about-logoBox .about-logos .img1 {
              width: 48%;
              margin-top: 0em;
              height: 60px;
              background-size: 100px 55px; }
              .about-container .about-affliations .about-logoBox .about-logos .img1:hover {
                width: 48%;
                margin-top: 0em;
                height: 60px;
                background-size: 100px 55px; }
            .about-container .about-affliations .about-logoBox .about-logos .img2 {
              width: 42%;
              height: 60px;
              background-size: 120px 41px;
              margin-top: 0.6em; }
              .about-container .about-affliations .about-logoBox .about-logos .img2:hover {
                width: 42%;
                background-size: 120px 41px; }
            .about-container .about-affliations .about-logoBox .about-logos .img3 {
              width: 50%;
              height: 60px;
              margin-left: 1em;
              background-size: 122px 40px; }
              .about-container .about-affliations .about-logoBox .about-logos .img3:hover {
                width: 50%;
                margin-left: 1em;
                background-size: 122px 40px; }
            .about-container .about-affliations .about-logoBox .about-logos .img4 {
              width: 42%;
              margin-top: 0em;
              margin-left: 0em;
              height: 60px;
              background-size: 128px 32px; }
              .about-container .about-affliations .about-logoBox .about-logos .img4:hover {
                width: 42%;
                height: 60px;
                margin-left: 0em;
                background-size: 128px 32px; }
            .about-container .about-affliations .about-logoBox .about-logos .img5 {
              margin-top: -1em;
              width: 32%;
              background-size: 74px 77px;
              height: 80px; }
              .about-container .about-affliations .about-logoBox .about-logos .img5:hover {
                margin-top: -1em;
                width: 32%;
                background-size: 74px 77px;
                height: 80px; }
            .about-container .about-affliations .about-logoBox .about-logos .img6 {
              margin-left: 0;
              margin-top: -1.5em;
              width: 50%;
              height: 110px;
              background-size: 175px 86px; }
              .about-container .about-affliations .about-logoBox .about-logos .img6:hover {
                margin-left: 0;
                margin-top: -1.5em;
                width: 50%;
                background-size: 175px 86px; }
            .about-container .about-affliations .about-logoBox .about-logos .img7 {
              width: 80%;
              height: 97px;
              background-size: 190px 63px; }
              .about-container .about-affliations .about-logoBox .about-logos .img7:hover {
                width: 80%;
                background-size: 190px 63px; } }
        @media screen and (max-width: 899px) and (min-width: 551px) {
          .about-container .about-affliations .about-logoBox .about-logos .img1 {
            width: 24%;
            margin-top: 0em;
            height: 100px;
            background-size: 132px 80px; }
            .about-container .about-affliations .about-logoBox .about-logos .img1:hover {
              width: 24%;
              margin-top: 0em;
              height: 100px;
              background-size: 132px 80px; }
          .about-container .about-affliations .about-logoBox .about-logos .img2 {
            width: 33%;
            height: 92px;
            background-size: 196px 64px;
            margin-top: 0.6em; }
            .about-container .about-affliations .about-logoBox .about-logos .img2:hover {
              width: 33%;
              background-size: 196px 	64px; }
          .about-container .about-affliations .about-logoBox .about-logos .img3 {
            height: 90px;
            margin-left: 0;
            background-size: 180px 65px; }
            .about-container .about-affliations .about-logoBox .about-logos .img3:hover {
              margin-left: 0;
              background-size: 180px 65px; }
          .about-container .about-affliations .about-logoBox .about-logos .img4 {
            margin-top: 0em;
            margin-left: 1.5em;
            height: 85px;
            background-size: 162px 46px; }
            .about-container .about-affliations .about-logoBox .about-logos .img4:hover {
              margin-left: 1.5em;
              background-size: 162px 46px; }
          .about-container .about-affliations .about-logoBox .about-logos .img5 {
            width: 20%;
            background-size: 125px 133px;
            height: 150px; }
            .about-container .about-affliations .about-logoBox .about-logos .img5:hover {
              width: 20%;
              background-size: 125px 133px;
              height: 150px; }
          .about-container .about-affliations .about-logoBox .about-logos .img6 {
            margin-left: 0;
            margin-top: -1.5em;
            width: 34%;
            height: 110px;
            background-size: 231px 88px; }
            .about-container .about-affliations .about-logoBox .about-logos .img6:hover {
              margin-left: 0;
              margin-top: -1.5em;
              width: 34%;
              background-size: 231px 88px; }
          .about-container .about-affliations .about-logoBox .about-logos .img7 {
            margin-left: 2em;
            height: 97px;
            background-size: 185px 68px; }
            .about-container .about-affliations .about-logoBox .about-logos .img7:hover {
              margin-left: 2em;
              background-size: 185px 68px; } }
        @media screen and (max-width: 1240px) and (min-width: 900px) {
          .about-container .about-affliations .about-logoBox .about-logos .img1 {
            margin-top: 0em;
            height: 100px;
            background-size: 156px 85px; }
            .about-container .about-affliations .about-logoBox .about-logos .img1:hover {
              margin-top: 0em;
              height: 100px;
              padding: 5px;
              background-size: 156px 85px; }
          .about-container .about-affliations .about-logoBox .about-logos .img2 {
            height: 100px;
            background-size: 205px 75px; }
            .about-container .about-affliations .about-logoBox .about-logos .img2:hover {
              background-size: 205px 	75px; }
          .about-container .about-affliations .about-logoBox .about-logos .img3 {
            width: 25%;
            height: 90px;
            margin-left: 3em;
            background-size: 205px 75px; }
            .about-container .about-affliations .about-logoBox .about-logos .img3:hover {
              width: 25%;
              margin-left: 3em;
              background-size: 205px 75px; }
          .about-container .about-affliations .about-logoBox .about-logos .img4 {
            margin-top: 2em;
            margin-left: 1.5em;
            width: 28%;
            height: 85px;
            background-size: 220px 55px; }
            .about-container .about-affliations .about-logoBox .about-logos .img4:hover {
              width: 28%;
              margin-left: 1.5em;
              background-size: 220px 55px; }
          .about-container .about-affliations .about-logoBox .about-logos .img5 {
            width: 18%;
            margin-top: -3em;
            height: 150px;
            background-size: 125px 130px; }
            .about-container .about-affliations .about-logoBox .about-logos .img5:hover {
              width: 18%;
              margin-top: -3em;
              background-size: 125px 130px; }
          .about-container .about-affliations .about-logoBox .about-logos .img6 {
            margin-left: 0;
            margin-top: -3em;
            width: 40%;
            height: 135px;
            background-size: 315px 128px; }
            .about-container .about-affliations .about-logoBox .about-logos .img6:hover {
              margin-left: 0;
              margin-top: -3em;
              width: 40%;
              background-size: 315px 128px; }
          .about-container .about-affliations .about-logoBox .about-logos .img7 {
            margin-left: 0;
            width: 28%;
            height: 120px;
            background-size: 247px 88px; }
            .about-container .about-affliations .about-logoBox .about-logos .img7:hover {
              margin-left: 0;
              width: 28%;
              background-size: 247px 88px; } }
  .about-container .about-logoBoxt {
    background-color: white; }
    .about-container .about-logoBoxt h4 {
      margin-top: 1em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .about-container .about-logoBoxt h4 {
          font-size: 12px; } }
    .about-container .about-logoBoxt .about-logos {
      padding: 2em 3em; }
      .about-container .about-logoBoxt .about-logos .img8 {
        margin-left: 4em;
        width: 28%;
        height: 220px;
        background-image: url("/images/aboutPage/Affiliations/Grey/c5.png");
        background-repeat: no-repeat;
        background-size: 220px 220px; }
        .about-container .about-logoBoxt .about-logos .img8:hover {
          width: 28%;
          background-image: url("/images/aboutPage/Affiliations/Original/northsouth.png");
          background-repeat: no-repeat;
          background-size: 220px 220px; }
      .about-container .about-logoBoxt .about-logos .img9 {
        margin-top: 4em;
        width: 38%;
        height: 180px;
        background-image: url("/images/aboutPage/Affiliations/Grey/c2.png");
        background-repeat: no-repeat;
        background-size: 360px 100px; }
        .about-container .about-logoBoxt .about-logos .img9:hover {
          width: 38%;
          height: 180px;
          background-image: url("/images/aboutPage/Affiliations/Original/samskrithabharathi.jpg");
          background-repeat: no-repeat;
          background-size: 360px 100px; }
      .about-container .about-logoBoxt .about-logos .img10 {
        width: 28%;
        height: 220px;
        background-image: url("/images/aboutPage/Affiliations/Grey/c9.png");
        background-repeat: no-repeat;
        background-size: 220px 220px; }
        .about-container .about-logoBoxt .about-logos .img10:hover {
          width: 28%;
          background-image: url("/images/aboutPage/Affiliations/Original/Yoga Bharati.png");
          background-repeat: no-repeat;
          background-size: 220px 220px; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .about-container .about-logoBoxt .about-logos {
          padding: 0em 1em; }
          .about-container .about-logoBoxt .about-logos .img8 {
            width: 28%;
            margin-top: 0.5em;
            margin-left: 0;
            height: 100px;
            background-size: 80px 80px; }
            .about-container .about-logoBoxt .about-logos .img8:hover {
              margin-top: 0.5em;
              background-size: 80px 80px; }
          .about-container .about-logoBoxt .about-logos .img9 {
            margin-top: 1.5em;
            width: 40%;
            height: 60px;
            background-size: 126px 48px; }
            .about-container .about-logoBoxt .about-logos .img9:hover {
              width: 40%;
              height: 60px;
              background-size: 126px 48px; }
          .about-container .about-logoBoxt .about-logos .img10 {
            width: 32%;
            height: 100px;
            background-size: 90px 94px; }
            .about-container .about-logoBoxt .about-logos .img10:hover {
              width: 32%;
              background-size: 90px 94px; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .about-container .about-logoBoxt .about-logos .img8 {
          margin-top: 1em;
          margin-left: 0;
          height: 150px;
          background-size: 140px 140px; }
          .about-container .about-logoBoxt .about-logos .img8:hover {
            margin-top: 1em;
            background-size: 140px 140px; }
        .about-container .about-logoBoxt .about-logos .img9 {
          margin-top: 3em;
          width: 38%;
          height: 100px;
          background-size: 215px 66px; }
          .about-container .about-logoBoxt .about-logos .img9:hover {
            width: 38%;
            height: 180px;
            background-size: 215px 66px; }
        .about-container .about-logoBoxt .about-logos .img10 {
          height: 150px;
          background-size: 160px 160px; }
          .about-container .about-logoBoxt .about-logos .img10:hover {
            background-size: 160px 160px; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .about-container .about-logoBoxt .about-logos .img8 {
          margin-top: 1em;
          margin-left: 3em;
          height: 180px;
          background-size: 165px 165px; }
          .about-container .about-logoBoxt .about-logos .img8:hover {
            margin-top: 1em;
            background-size: 165px 165px; }
        .about-container .about-logoBoxt .about-logos .img9 {
          margin-top: 4em;
          width: 38%;
          height: 100px;
          background-size: 275px 80px; }
          .about-container .about-logoBoxt .about-logos .img9:hover {
            width: 38%;
            height: 180px;
            background-size: 275px 80px; }
        .about-container .about-logoBoxt .about-logos .img10 {
          width: 28%;
          height: 200px;
          background-size: 180px 180px; }
          .about-container .about-logoBoxt .about-logos .img10:hover {
            width: 28%;
            background-size: 180px 180px; } }
  .about-container .about-interviews h2 {
    padding: 2em 0 0 0; }
  .about-container .about-interviews .about-card {
    background-color: white;
    height: 300px;
    border: none;
    border-left: 6px solid #256F76;
    margin-top: 4em; }
    .about-container .about-interviews .about-card h4 {
      margin-top: 2em; }
      .about-container .about-interviews .about-card h4 i {
        font-size: 2.5em;
        margin-left: -2em;
        color: grey; }
    .about-container .about-interviews .about-card hr {
      width: 60%;
      border: none;
      border-bottom: 1px solid grey;
      margin-top: 4.5em; }
  @media screen and (max-width: 550px) and (min-width: 320px) {
    .about-container .about-interviews h2 {
      padding: 1em 0 0 0;
      font-size: 1.3em; }
    .about-container .about-interviews .about-card {
      height: 160px;
      margin-top: 1em; }
      .about-container .about-interviews .about-card h4 {
        font-size: 12px;
        margin-top: 1em; }
        .about-container .about-interviews .about-card h4 i {
          font-size: 1.5em; }
      .about-container .about-interviews .about-card hr {
        margin-top: 1em; }
      .about-container .about-interviews .about-card p {
        margin-top: -0.5em;
        font-size: 11px; } }
  @media screen and (max-width: 899px) and (min-width: 551px) {
    .about-container .about-interviews .about-card {
      height: 210px;
      margin-top: 3em; }
      .about-container .about-interviews .about-card h4 {
        font-size: 13px;
        margin-top: 2em; }
      .about-container .about-interviews .about-card hr {
        margin-top: 2.5em; } }

/**********************************************/
/**********************************************/
/***********************************************/
/*      CSS for Writing Page Starts here       */
/*              By Kiran Joshi                 */
/*           use prefix writings-*              */
/***********************************************/
.writings-container {
  background-color: #f5f5f5;
  min-height: 700px; }
  .writings-container .writings-header .pseudo-navbar {
    height: 65px;
    background-color: black; }
    @media screen and (max-width: 899px) and (min-width: 320px) {
      .writings-container .writings-header .pseudo-navbar {
        height: 40px; } }
    @media screen and (max-width: 1200px) and (min-width: 900px) {
      .writings-container .writings-header .pseudo-navbar {
        height: 50px; } }
  .writings-container .writings-header .writings-box {
    background-color: white; }
    .writings-container .writings-header .writings-box header {
      padding: 1em; }
      .writings-container .writings-header .writings-box header h1 {
        font-size: 3.8em; }
      .writings-container .writings-header .writings-box header hr {
        width: 7%;
        border: none;
        border-top: 4px solid #DA4531;
        margin-top: -0.5em; }
    @media screen and (max-width: 550px) and (min-width: 320px) {
      .writings-container .writings-header .writings-box header {
        padding: 0em; }
        .writings-container .writings-header .writings-box header h1 {
          font-size: 1.7em; } }
    @media screen and (max-width: 899px) and (min-width: 551px) {
      .writings-container .writings-header .writings-box header h1 {
        font-size: 2.4em; } }
    @media screen and (max-width: 1240px) and (min-width: 900px) {
      .writings-container .writings-header .writings-box header h1 {
        font-size: 3em; } }
    .writings-container .writings-header .writings-box .mdRow {
      margin-top: 4em; }
      .writings-container .writings-header .writings-box .mdRow a {
        color: #434343; }
    .writings-container .writings-header .writings-box .writings-mdesign {
      padding-bottom: 4em; }
      .writings-container .writings-header .writings-box .writings-mdesign .writing-book {
        padding-left: 1em; }
        .writings-container .writings-header .writings-box .writings-mdesign .writing-book img {
          width: 100%; }
      .writings-container .writings-header .writings-box .writings-mdesign .writings-bookMobile {
        display: none; }
      .writings-container .writings-header .writings-box .writings-mdesign .writings-content {
        padding: 1em 2em; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h2 {
          font-size: 2.4em; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h4 {
          color: grey; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h3 {
          line-height: 1.4em;
          margin-top: 1em;
          padding-right: 1.5em;
          font-size: 1.6em; }
      @media screen and (max-width: 550px) and (min-width: 320px) {
        .writings-container .writings-header .writings-box .writings-mdesign {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-mdesign .writings-book img {
            display: none; }
          .writings-container .writings-header .writings-box .writings-mdesign .writings-bookMobile {
            display: block; }
            .writings-container .writings-header .writings-box .writings-mdesign .writings-bookMobile img {
              width: 100%;
              align: center; }
          .writings-container .writings-header .writings-box .writings-mdesign .writings-content h2 {
            font-size: 1.6em; }
          .writings-container .writings-header .writings-box .writings-mdesign .writings-content h4 {
            font-size: 14px; }
          .writings-container .writings-header .writings-box .writings-mdesign .writings-content h3 {
            line-height: 1.2em;
            padding-right: 0em;
            font-size: 1.15em; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .writings-container .writings-header .writings-box .writings-mdesign .writings-book img {
          width: 100%; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h2 {
          font-size: 1.5em; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h4 {
          font-size: 10px; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h3 {
          line-height: 1.2em;
          padding-right: 0.5em;
          font-size: 1.2em; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .writings-container .writings-header .writings-box .writings-mdesign .writings-book img {
          width: 100%; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h2 {
          font-size: 2.2em; }
        .writings-container .writings-header .writings-box .writings-mdesign .writings-content h3 {
          line-height: 1.2em;
          padding-right: 0.5em;
          font-size: 1.8em; } }
    .writings-container .writings-header .writings-box .writings-publishedArticle {
      padding-bottom: 2em; }
      .writings-container .writings-header .writings-box .writings-publishedArticle a {
        color: #434343; }
        .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow {
          background-color: #f5f5f5;
          border: 1px solid #D5D4D4; }
          .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-logos img {
            margin-left: -2.2em;
            width: 100%;
            object-fit: cover; }
          .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-content {
            padding-top: 1.6em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-content h4 {
              line-height: 1.2em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-content h6 {
              color: #AEAEAE; }
          .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-hoverEffect {
            display: none;
            padding-top: 1.6em;
            background-color: #1B5F5E;
            color: white;
            height: 121px; }
            .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-hoverEffect sup img {
              width: 55px;
              padding-right: 15px; }
            .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-hoverEffect h4 {
              vertical-align: middle;
              padding: 12px 0; }
            .writings-container .writings-header .writings-box .writings-publishedArticle a .writings-paRow .writings-hoverEffect sub img {
              width: 55px;
              padding-right: 15px; }
      @media screen and (max-width: 360px) and (min-width: 320px) {
        .writings-container .writings-header .writings-box .writings-publishedArticle {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow {
            margin-top: 1em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-logos img {
              width: 200%; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content {
              padding-top: 0; }
              .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h4 {
                line-height: 13px;
                font-size: 8px; }
              .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h6 {
                font-size: 7px; } }
      @media screen and (max-width: 550px) and (min-width: 370px) {
        .writings-container .writings-header .writings-box .writings-publishedArticle {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow {
            margin-top: 1.5em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-logos img {
              width: 156%; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content {
              padding-top: 0.6em; }
              .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h4 {
                line-height: 13px;
                font-size: 11px; }
              .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h6 {
                font-size: 10px; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .writings-container .writings-header .writings-box .writings-publishedArticle {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow {
            margin-top: 2em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-logos img {
              margin-left: -2.2em;
              width: 125%; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content {
              padding-top: 1.4em; }
              .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h4 {
                line-height: 1.2em; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow {
          margin-top: 2em;
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-logos img {
            margin-left: -2.2em;
            width: 100%; }
          .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content {
            padding-top: 1.4em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h4 {
              line-height: 1.2em; }
            .writings-container .writings-header .writings-box .writings-publishedArticle .writings-paRow .writings-content h6 {
              color: grey; } }
    .writings-container .writings-header .writings-box .writings-researchPapers {
      padding-bottom: 2em; }
      .writings-container .writings-header .writings-box .writings-researchPapers a {
        color: #434343; }
        .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow {
          background-color: #f5f5f5;
          border: 1px solid #D5D4D4;
          height: 150px; }
          .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-content {
            padding-top: 1.6em; }
            .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-content h4 {
              line-height: 1.2em; }
            .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-content h6 {
              color: #AEAEAE; }
            .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-content .researchCard {
              padding-bottom: 1.5em; }
          .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-rpHover {
            display: none;
            padding-top: 1.6em;
            background-color: #1B5F5E;
            color: white; }
            .writings-container .writings-header .writings-box .writings-researchPapers a .writings-rpRow .writings-rpHover h4 {
              padding: 1em 0 0 0;
              vertical-align: middle; }
      @media screen and (max-width: 360px) and (min-width: 320px) {
        .writings-container .writings-header .writings-box .writings-researchPapers {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow {
            margin-top: 1em; }
            .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content {
              padding-top: 0; }
              .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h4 {
                line-height: 13px;
                font-size: 8px; }
              .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h6 {
                font-size: 7px; } }
      @media screen and (max-width: 550px) and (min-width: 370px) {
        .writings-container .writings-header .writings-box .writings-researchPapers {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow {
            margin-top: 1.5em; }
            .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content {
              padding-top: 0.6em; }
              .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h4 {
                line-height: 13px;
                font-size: 11px; }
              .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h6 {
                font-size: 10px; } }
      @media screen and (max-width: 899px) and (min-width: 551px) {
        .writings-container .writings-header .writings-box .writings-researchPapers {
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow {
            margin-top: 2em; }
            .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content {
              padding-top: 1.4em; }
              .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h4 {
                line-height: 1.2em; } }
      @media screen and (max-width: 1240px) and (min-width: 900px) {
        .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow {
          margin-top: 2em;
          padding-bottom: 0em; }
          .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content {
            padding-top: 1.4em; }
            .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h4 {
              line-height: 1.2em; }
            .writings-container .writings-header .writings-box .writings-researchPapers .writings-rpRow .writings-content h6 {
              color: grey; } }

/**********************************************/
/**********************************************/

/*# sourceMappingURL=customStyle.css.map */
