body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main-header{
	nav{
		height:70px;
		.navbar-list-item{
			.homelogo{
				margin-top:-0.8em;
				width:60px;
		 		a{
		 			img{
		 				width:60px;
					}
				}
			}
			ul{
				margin-top:0.7em;
		 		li{
		 			margin-left:3em;
		 			padding:0 3em;
		 			a{
		 				cursor:pointer; 
						display:block;
						font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
						color:white;
						margin-top:0.6em;
						float:left;
						background-color:transparent;
						padding:5px;
						font-size:14px;
					   &:active,&:visited,&:hover{ 
						   background-color:transparent;
						   // border:0.1px solid #adadad;
						    border-bottom:1px solid white;
						}
						@media screen and (max-width:889px) and (min-width:551px){
						 margin-top:4px;
						}	
					}
				}
			}
		}
	}
	@media screen and (max-width:550px) and (min-width:320px){
	
		display:none;
	}	
	@media screen and (max-width:899px) and (min-width:551px){
		nav{
			min-height:40px;
			height:40px;
			.navbar-list-item{
				.homelogo{
					margin-top:-0.8em;
					width:35px;
				 	a{
				 		img{
				 			width:30px;
						}
					}
				}
				ul{
					margin-top:2px;
					li{
						margin-left:3em;
			 			padding:0;
						a{
							font-size:11px;
							&:active,&:visited,&:hover{ 
						   background-color:transparent;
						   // border:0.1px solid #adadad;
						    border-bottom:1px solid white;
							}
						}
					}
				}
			}
		}	
	}
	@media screen and (max-width:1200px) and (min-width:900px){
		nav{
			height:50px;
			.navbar-list-item{
				.homelogo{
					margin-top:-0.8em;
					width:40px;
				 	a{
				 		img{
				 			width:40px;
						}
					}
				}
				ul{
					margin-top:3px;
					li{
						margin-left:5.4em;
			 			padding:0;
					}
				}
			}
		}
	}
}




.main-header-ab{
	@media screen and (min-width:551px){
		display:none;
	}
	display:block;
	nav{
		height:40px;
		min-height:40px;
		.navbar-list-item{
			.homelogo{
				margin-top:-0.8em;
				width:40px;
			 	a{
			 		img{
			 			width:30px;
					}
				}
			}
			ul{
				margin-top:-2.9em;
			 	li{
			 		margin-left:3em;
			 		padding:0 3em;
			 		i{
			 			font-size:1.4em;
			 			 margin-left:15.5em;
			 			@media screen and (max-width:370px) and (min-width:320px){
							margin-left:10em;
						}
						@media screen and (max-width:420px) and (min-width:371px){
							margin-left:12.5em;
						}
			 		}
				}
			}
		}
	}
}	


.main-footer{
	.hp-footerArea{
		.hp-footer{
			background-color:#434343;
			color:white;
			.hp-column{
				padding:2em 0;
				.hp-brandName{
					h3{
						@media screen and (max-width:550px) and (min-width:320px){
							font-size:18px;
						}
						@media screen and (max-width:899px) and (min-width:551px){
							font-size:16px;
						}
						@media screen and (max-width:1200px) and (min-width:900px){
							font-size:18px;
						}
					}
				}
				.hp-list{
					ul{
						list-style-type:none;
						margin-top:1.8em;
						li{
							padding-bottom:8px;
							font-size:1.3em;
							i{
								border:1px solid white;
								padding:4px 2px 0 8px;
								border-radius:3px;
								background-color:white;
								color:#434343;
							}
						}
						@media screen and (max-width:550px) and (min-width:320px){
							padding-left:0px;
							li{
								font-size:0.9em;
								i{
									padding:3px 2px 0 5px;	
								}
							}
						}
						@media screen and (max-width:899px) and (min-width:551px){
							padding-left:0px;
							li{
								font-size:0.9em;
								i{
									padding:3px 2px 0 5px;	
								}
							}
						}
						@media screen and (max-width:1200px) and (min-width:900px){
							li{
								font-size:0.9em;
								i{
									padding:3px 2px 0 5px;	
								}
							}
						}
					}
				}
				.hp-signature{
					margin-top:1.8em;
					span{
						a{
							display:block;
							color:#66CCFF;
						}
					}
				}
			}
		}
	}
}
.hp-container{
	background-color:#eeeeee;
	padding-bottom:6em;
	.hp-heroImg{
		width:100%;
		img{
			width:102%;
			margin-left:-1em;
			@media screen and (max-width:550px) and (min-width:320px){
				width:106.8%;
			}
			@media screen and (max-width:899px) and (min-width:551px){
				width:103.8%;
			}
			@media screen and (max-width:1200px) and (min-width:900px){
				width:102.9%;
			}
		}
	}
	.hp-showcase{
		padding-top:8em;
		.hp-card{
			width:350px;
			margin-right:4em;
			background-color:white;
			img{
				margin-left:-1em;
				width:350px;
				height:242px;
			}
			h2{
				color:black;
			}
			h3{
				color:#434343;
				font-size:1.9em;
			}
			p{
				padding:1em 2em;
				color:#0000EE;
				margin-top:3em;
			}	
		}
		@media screen and (max-width:550px) and (min-width:320px){
			padding-top:4em;
			padding-left:4em;
			.hp-card{
				width:80%;
				margin-bottom:3em;
				margin-right:0.4em;

				img{
					width:110.5%;
					object-fit:fill;
					height:100%;
					margin-left:-1em;
				}
				h2{
					margin-top:10px;
					font-size:1.6em;
				}
				h3{
					font-size:1.2em;
				}
				p{
					font-size:1em;
					margin-top:0;
				}
			}
		}	
		@media screen and (max-width:899px) and (min-width:551px){
			.hp-card{	
				width:200px;
				margin-right:2em;
				img{
					margin-left:-1em;
					width:200px;
					height:150px;
				}
				h3{
					font-size:1.3em;
				}
				p{
					margin-top:1em;
				}
			}
		}	
		@media screen and (max-width:1200px) and (min-width:900px){
			.hp-card{
				width:270px;
				margin-right:2em;
				img{
					margin-left:-1em;
					width:270px;
					height:190px;
				}
				h3{
					font-size:1.4em;
				}
				p{
					margin-top:2em;
				}
			}
		}	
	}
	.hp-socialIcon{
		margin-top:5em;
		@media screen and (max-width:550px) and (min-width:320px){
			margin-top:3em;
		}
		.hp-area{
		 	width:120px;
		 	height:120px;
		 	border-radius:100%;
		 	background-color:white;
		 	margin-right:2.8em;
		 	img{
		 		width:70px;
		 		height:70px;
		 		margin:1.8em 0.8em;
		 	}
		 	@media screen and (max-width:550px) and (min-width:320px){
		 		width:80px;
		 		height:80px;
		 		margin-right:1.5em;
		 		img{
		 			width:32px;
		 			height:32px;
		 		}	
		 	}
		 	@media screen and (max-width:899px) and (min-width:551px){
		 		width:100px;
		 		height:100px;
		 		img{
		 			width:50px;
		 			height:50px;
		 		}	
		 	}
		 	@media screen and (max-width:1200px) and (min-width:900px){
		 		margin-right:2em;	
		 	}
		}
	}
	.hp-contactForm{
		margin-top:5em;
		.hp-formArea{
			background-color:#1B5F5E;
			color:white;
			padding:3em 0;
			.hp-para{
				color:white;
				letter-spacing:0px;
				h3{			
					line-height:1.3;
				}
				@media screen and (max-width:550px) and (min-width:320px){
		 			h3{		
		 				font-size:17px;	
						line-height:1.3;
					}
		 		}
				@media screen and (max-width:899px) and (min-width:551px){
		 			h3{		
		 				font-size:18px;	
						line-height:1.3;
					}
		 		}
			}
			.hp-inputs{
				margin-top:1.3em;
				padding-bottom:1em;
				input[type=text]{
					margin-bottom:2em;
				}
				input[type=email]{
					margin-bottom:2em;
				}
				.submitBtn{
					width:20%;
					color:#1B5F5E;
					@media screen and (max-width:550px) and (min-width:320px){
		 				width:42%;
		 			}
					@media screen and (max-width:899px) and (min-width:551px){
		 				width:38%;
		 			}
					@media screen and (max-width:1200px) and (min-width:900px){
						width:30%;
					}
				}
			}
		}
	}
}

// NAVIGATION BAR MODAL
.modalNavbar{
   .modalNavbar-content{
      	background-color:rgba(0, 0, 0, 0.9);
       	width:100%;
       	height:100%;
       	padding-bottom:5em;
       	.close{
          	padding:4px 0;
          	cursor:pointer;
          	span{
             	margin-left:-1.5em;
             	color:white;
             	font-size:3em;
             	opacity:2;
          	}
          	@media screen and (max-width:1200px) and (min-width:900px){
				span{
             		font-size:2em;
             		opacity:2;
          		}
			}
       	}
       	.social-icons{
       		margin-top:14em;
       		img{
       			width:80px;
       			margin:0 2em;
       		}
       	}
       	.nav-item{
       		margin-top:4em;
       		ul{
       			li{
       				list-style-type:none;
       				color:white;
       				font-size:26px;
       				padding:0.4em 0;
       			}
       		}
       	}
    }      
} 


// NAVIGATION BAR MODAL for mobile screen
.modalNavbar2{
   .modalNavbar-content{
      	background-color:rgba(0, 0, 0, 0.9);
       	width:100%;
       	height:100%;
       	padding-bottom:5em;
       	.close{
          padding:4px 0;
          cursor:pointer;
          span{
             margin-left:-1.5em;
             color:white;
             font-size:1.4em;
             opacity:20;
          }
       	}
       	.social-icons{
       		margin-top:3em;
       		img{
       			width:30px;
       			margin:0 1em;
       		}
       	}
       	.nav-item{
       		margin-top:1.5em;
       		ul{
       			li{
       				font-style:'sans serif';
       				list-style-type:none;
       				color:white;
       				font-size:14px;
       				padding:0.5em 0;
       				a{
						color:white;
						padding:5px 10px;
					}
       			}
       		}
       	}
    }      
} 






// about page css
.about-container{
	background-color:#F3F3F3;
	.about-heroImg{
		background-image:url('/images/aboutPage/Heroimage_About.png');
		height:730px;
		width:102.2%;
		margin-left:-1.1em;
		h1{
			color:white;
			padding:3em 0 0 3em;
			margin-top:0;
			font-size:4em;
		}
		h2{
			color:white;
			padding:0 0 0 4em;
			margin-top:0;
			font-size:3em;
		}
		.about-icons{
			height:118px;
			border:2px solid white;
			border-radius:80px;
			margin-right:5em;
			padding:2em;
			i{
				color:white;
			}
			&:active,&:visited,&:hover{
				background-color:#1B5F5E;
				border:2px solid white;
				i{
					color:white;
				}
			}
		}
	}
	.about-mdesignRow{
		margin-top:6em;
		.about-mdesign{
			h2{}
			h3{
				margin-top:-0.2em;
			}
			p{
				font-size:16px;
				text-align:justify;
			}
		}
		.about-mdImageRight{
			img{
				margin-left:0.71em;
			}
		}
		.about-mdImageLeft{
			img{
				margin-left:-0.91em;
			}
		}
	}
	.about-affliations{
		padding-top:8em;
		.about-logoBox{
			background-color:white;
			// height:520px;
			margin-top:1em;
			padding-top:1em;
			h4{
				margin-top:1em;
			}
			.about-logos{
				padding:2em 0;
				.img1{
					margin-top:-2em;
					width:28%;
					height:140px;
					background-image:url('/images/aboutPage/Affiliations/Grey/ILA.png');
         			background-repeat: no-repeat;
         			background-size: 210px 110px;
					&:hover{
						margin-top:-2em;
						height:140px;
						width:28%;
						padding:5px;
						background-image:url('/images/aboutPage/Affiliations/Original/ILA.png');
						background-repeat: no-repeat;
						background-size: 210px 110px;
					}
				}

				.img2{
					width:28%;
					height:100px;
					background-image:url('/images/aboutPage/Affiliations/Grey/c1.png');
         			background-repeat: no-repeat;
         			background-size: 250px 90px;
					&:hover{
						width:28%;
						background-image:url('/images/aboutPage/Affiliations/Original/Intellect.png');
						background-repeat: no-repeat;
						background-size: 250px 	90px;
					}
				}
				.img3{
					width:28%;
					height:90px;
					margin-left:3em;
					background-image:url('/images/aboutPage/Affiliations/Grey/Arevo.png');
         			background-repeat: no-repeat;
         			background-size: 250px 85px;
					&:hover{
						width:28%;
						margin-left:3em;
						background-image:url('/images/aboutPage/Affiliations/Original/Arevo.png');
						background-repeat: no-repeat;
						background-size: 250px 85px;
					}
				}
				.img4{
					margin-top:2em;
					margin-left:1.5em;
					width:28%;
					height:120px;
					background-image:url('/images/aboutPage/Affiliations/Grey/c4.png');
         			background-repeat: no-repeat;
         			background-size: 280px 70px;
					&:hover{
						width:28%;
						margin-left:1.5em;
						background-image:url('/images/aboutPage/Affiliations/Original/Transparent logo.png');
						background-repeat: no-repeat;
						background-size: 280px 70px;
					}
				}
				.img5{
					margin-top:-4em;
					width:28%;
					height:180px;
					background-image:url('/images/aboutPage/Affiliations/Grey/c8.png');
         			background-repeat: no-repeat;
         			background-size: 170px 180px;
					&:hover{
						margin-top:-4em;
						width:28%;
						background-image:url('/images/aboutPage/Affiliations/Original/Marico.jpg');
						background-repeat: no-repeat;
						background-size: 170px 180px;
					}
				}
				.img6{
					margin-left:-5em;
					margin-top:-4em;
					width:28%;
					height:180px;
					background-image:url('/images/aboutPage/Affiliations/Grey/c3.png');
         			background-repeat: no-repeat;
         			background-size: 360px 170px;
					&:hover{
						margin-left:-5em;
						margin-top:-4em;
						width:28%;
						background-image:url('/images/aboutPage/Affiliations/Original/SOL.png');
						background-repeat: no-repeat;
						background-size: 360px 170px;
					}
				}
				.img7{
					margin-left:4em;
					width:28%;
					height:180px;
					background-image:url('/images/aboutPage/Affiliations/Grey/c6.png');
         			background-repeat: no-repeat;
         			background-size: 340px 120px;
					&:hover{
						margin-left:4em;
						width:28%;
						background-image:url('/images/aboutPage/Affiliations/Original/Apporbit.png');
						background-repeat: no-repeat;
						background-size: 340px 120px;
					}
				}				
			}	
		}
	}
	.about-logoBoxt{
		background-color:white;
		height:300px;
		h4{
			margin-top:1em;
		}
		.about-logos{
			padding:2em 3em;
			.img8{
				 margin-left:4em;
				width:28%;
				height:220px;
				background-image:url('/images/aboutPage/Affiliations/Grey/c5.png');
         		background-repeat: no-repeat;
         		background-size: 220px 220px;
				&:hover{
					width:28%;
					background-image:url('/images/aboutPage/Affiliations/Original/northsouth.png');
					background-repeat: no-repeat;
					background-size: 220px 220px;
				}
			}
			.img9{
				margin-top:4em;
				width:38%;
				height:180px;
				background-image:url('/images/aboutPage/Affiliations/Grey/c2.png');
         		background-repeat: no-repeat;
         		background-size: 360px 100px;
				&:hover{
					width:38%;
					height:180px;
					background-image:url('/images/aboutPage/Affiliations/Original/samskrithabharathi.jpg');
					background-repeat: no-repeat;
					background-size: 360px 100px;
				}
			}
			.img10{
				width:28%;
				height:220px;
				background-image:url('/images/aboutPage/Affiliations/Grey/c9.png');
         		background-repeat: no-repeat;
         		background-size: 220px 220px;
				&:hover{
					width:28%;
					background-image:url('/images/aboutPage/Affiliations/Original/Yoga Bharati.png');
					background-repeat: no-repeat;
					background-size: 220px 220px;
				}
			}

		}
	}
	.about-interviews{
		h2{
			padding:2em 0 0 0;
		}
		.about-card{
			background-color:white;
			height:300px;
			border:none;
			border-left:6px solid #256F76;
			margin-top:4em;
			h4{
				margin-top:2em;
				i{
					font-size:2.5em;
					margin-left:-2em;
					color:grey;
				}
			}
			hr{
				width:60%;border:none;
				border-bottom:1px solid grey;
				margin-top:4.5em;	
			}
		}
	}
} 